%h1 Welcome to Grouper!
%p What would you like to do?
%ul
  %li= link_to 'View people', people_path
  %li= link_to 'View events', events_path
  %li= link_to 'Upload all the people', new_people_uploader_path
