%h1 Event
%p #{@event.name}
%table{:border => 1}
  -@group_table.each do |row|
    %tr
    -row.each do |cell|
      %td= cell

%p= link_to 'Delete', event_path(@event), method: :delete
%p= link_to 'Send Email', send_email_event_path(@event), method: :post