Hello! Want to join a group for #{@event.name}?

%b If you'd like to have lunch with interesting people and increase your happiness in life, 

%p= link_to= 'Join This Event!', add_person_event_path(id: @event.id, person_id: @person.id, 
                                    method: :post, only_path: false)
Group Organizer