Hello, You are a group!
%ul
  %li Eat outside the Office
  %li If you want to go somewhere sit-down, don't go at noon.
  %li SELF-ORGANIZE
  %li I have conversation starters if you are afraid of the awkwards. See me if you want conversation starters.

Group Organizer
(312) 555-1212
