Hello, You are a group!
* Eat outside the Office
* If you want to go somewhere sit-down, don't go at noon.
* SELF-ORGANIZE
* I have conversation starters if you are afraid of the awkwards. See me if you want conversation starters.

Group Organizer
(312) 555-1212
