Hello, #{@person.name}! I assume you want to go to #{@event.name}?

If you can't go this month, just click this link:


= remove_person_event_path(id: @event.id, person_id: @person.id,  only_path: false)


Group Organizer